
@{
    ViewBag.Title = "FailedAuto";
}

<h2>Sorry, current e-mail or password doesn't exist</h2>
<br />
<input class="btn btn-success" type="button" value="Try again" onclick="location.href='@Url.Action("Autorizathion", "Home")'" />